<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.huotun.sdk">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="com.asus.msa.SupplementaryDID.ACCESS" />
    <uses-permission android:name="freemme.permission.msa" />
    <application
        android:usesCleartextTraffic="true">
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity
            android:name="com.huotun.sdk.activity.WxActivity"
            android:exported="true"
            android:launchMode="singleTop"/>

        <!-- **********************创蓝闪验所需Activity start************************** -->
        <activity
            android:name="com.chuanglan.shanyan_sdk.view.CmccLoginActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:theme="@style/dialogStyle" />

        <activity-alias
            android:name="com.cmic.sso.sdk.activity.LoginAuthActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:targetActivity="com.chuanglan.shanyan_sdk.view.CmccLoginActivity"
            android:theme="@style/dialogStyle" />

        <activity
            android:name="com.chuanglan.shanyan_sdk.view.ShanYanOneKeyActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:theme="@style/dialogStyle" />
        <!-- **********************协议页activity************************** -->
        <activity
            android:name="com.chuanglan.shanyan_sdk.view.CTCCPrivacyProtocolActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="standard"
            android:screenOrientation="behind"
            android:theme="@style/dialogStyle" />
        <!-- **********************创蓝闪验所需Activity end************************** -->

        <!-- **********************头条SDK配置 start************************** -->
        <activity android:name="com.bytedance.applog.util.SimulateLaunchActivity" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <!-- 表示该页面可以被隐式调用，必须加上该项 -->
                <category android:name="android.intent.category.DEFAULT" />
                <!-- 协议部分 -->
                <data
                    android:host="rangersapplog"
                    android:path="/picker"
                    android:scheme="rangersapplog.byax6uyt" />
            </intent-filter>
        </activity>

        <receiver
            android:name="com.bytedance.applog.collector.Collector"
            android:enabled="true"
            android:exported="false" />
        <!--**********************头条SDK配置 end**************************-->

        <activity
            android:name="com.xwan.datasdk.grant.GrantActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <provider
            android:authorities="${applicationId}.loader.p.main"
            android:name="com.qihoo360.replugin.component.process.ProcessPitProviderPersist"
            android:process="${applicationId}"/>
    </application>
</manifest>